*{
    margin:0;
    padding: 0;
}

body{
    height: 100%;
}

header{
    background-color: white;
    height:120px;
    line-height: 90px;
    position: absolute;
    width: 100%;
}
ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

header nav{
    padding-left: 50px;
    float: right;
}

.logo img{
    padding-top: 0px;
    height: 120px;
    width: 120px;
}

header nav ul li a{
    padding-right: 20px;
    font-weight: bold;
    color:black;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: darkgray;
}

.fas{
    padding: 30px;
}
.signin{
    padding-top: 120px;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/sign.jpg);
    background-size: cover;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
}

.signin h3{
    padding: 20px 0px 20px 0px;
}

.contact{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: black solid 3px;
    border-top-width: thin;
}

.contact .container .row i{
    padding: 30px 30px 30px 30px;
}